.card:hover {
  transition: all 0.7s linear;
}

.card-body {
  padding: 2rem 0 !important;
  background-color: #ddb9409a!important;
  height: 50%;
  width:  50%;;
  margin-left: 30%;
  margin-right: 30%;
}


.card-text {
  padding: 0.3rem 1rem;
  font-size: 1rem;
}

.overflow {
  overflow: hidden;
}

.card-img-top {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
  height: 50%;
  min-height: 200px;
  min-width: 150px;
  width:  100%;
}

.card-img-top:hover {
  transform: scale(2);
}


