.navbar-text{
    color: rgb(0, 0, 0);
    font-family: Verdana;
    font-style: italic;
    font-size: 20px;
    margin-right: 50px;
}

.navbar-subtext{
    color: rgb(0, 0, 0);
    font-family: Verdana;
    font-style: italic;
    font-size: 15px;
}

.span-spacing{
    margin-right: 40px;
}

.photo-carrousel{
    height: auto;
    max-width: 75%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carrousel-text{
    position: relative;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    margin-bottom: 200px;
    color: rgb(255, 255, 255);
    font-family: Verdana;
    font-style: italic;
    font-size: 50px;
}

.tabs-text{
    text-align: justify;
    text-justify: inter-word;
    color: rgb(0, 0, 0);
    font-family: Verdana;
    font-style: italic;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.tabs-bg{
    background-color: rgb(232, 212, 204);
}