.navbar-text{
    color: rgb(0, 0, 0);
    font-family: Verdana;
    font-style: italic;
    font-size: 20px;
    margin-right: 50px;
}

.navbar-subtext{
    color: rgb(0, 0, 0);
    font-family: Verdana;
    font-style: italic;
    font-size: 15px;
}

.span-spacing{
    margin-right: 40px;
}